src/wsdl/ciewebservice.dasa.com.br_80/wscie/WsCie.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.1 (branches/2.1-6728; 2011-02-03T14:14:58+0000) JAXWS-RI/2.2.3 JAXWS/2.2. --><xs:schema xmlns:tns="http://service.cie.com.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.cie.com.br/">

<xs:element name="EnviaLoteSolicitacaoExames" type="tns:EnviaLoteSolicitacaoExames" />

<xs:element name="EnviaLoteSolicitacaoExamesResponse" type="tns:EnviaLoteSolicitacaoExamesResponse" />

<xs:complexType name="EnviaLoteSolicitacaoExames">
<xs:sequence>
<xs:element name="login" type="xs:string" minOccurs="0" />
<xs:element name="senha" type="xs:string" minOccurs="0" />
<xs:element name="xml" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>

<xs:complexType name="EnviaLoteSolicitacaoExamesResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0" />
</xs:sequence>
</xs:complexType>
</xs:schema>